<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%%static 'css/style.css'}">
</head>
<body>
    <div class="banner">

        {%block body_block%}


        {%endblock%}
<!--            <div class="navbar">-->
<!--                <img src="#" class="logo" alt="">-->
<!--                <ul>-->
<!--                    <li><a href="">Signup</a></li>-->
<!--                    <li><a href="">About Me</a></li>-->
<!--                    <li><a href="">Portfolio</a></li>-->
<!--                    <li><a href="">Services</a></li>-->
<!--                    <li><a href="">Hire Me</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--
            <div class="content">
                <h1>DESIGN YOUR HOUSE</h1>
                <p>Lorem ipsum dolor ipsum necessitatibus!</p>
                <div>
                    <button type="button"><span></span>Watch more</button>
                    <button type="button"><span></span>Help</button>
                </div>
            </div> -->
            <section class="content">
                <h1 class="headings">I AM <br> ARUNDEV UMMALATH</h1>
                <div>
                    <button type="button" onclick=""><span></span>Hire me</button>
                </div>
            </section>
    </div>

</body>
</html>